[Unit]
Description=nodeManager

[Service]
WorkingDirectory=/root
Type=forking
ExecStart=/root/hello-samza/startNodeManager.sh
KillMode=process

[Install]
WantedBy=multi-user.target
